# Entornos virtuales
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
*.sqlite3
dbase.db

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
